<% if flash[:errors] %>
	<div class='row'>
		<div class='col-xs-12 col-md-8 col-md-offset-2'>
			<div id='errors' class='alert alert-danger' role='alert'>
				<h3>Uh oh! Looks like something went wrong...</h3>
				<ul>
				<%flash[:errors].each do |error|%>
					<li><%=error%></li>
				<%end%>
				</ul>
			</div>
		</div>
	</div>
<% end %>


<div class='row'>
	<div class='col-xs-6 col-md-2'>
		<% if @data %>
			<h2>Recent Scrapes</h2>
			<% @data.each do |tag| %>
			<ul>
				<li>#<%=tag.hashtag%></li>
				<li><%=tag.tagged_posts.count%> entries</li>
			</ul>
			<% end %>
		<% end %>
	</div>
	<div class='col-xs-12 col-md-8'>
		<div class='card'>
			<div class='card-block'>
				<div id='scrape' class='initial-form'>
					<%= render '/form', caption: 'Scrape Instagram', method: 'post'  %>
				</div>
				<div id='retrieve' class='initial-form'>
					<%= render '/form', caption: 'Search Locally', method: 'get'  %>
				</div>
			</div>
		</div>
	</div>
</div>